$maxMobile: "(max-width: 767px)";
$minSmall: "(min-width: 768px)";
$maxSmall: "(max-width: 991px)";
$minMedium: "(min-width: 992px)";
$minlarge: "(min-width: 1200px)";

$red-color: #e2494c;
$gray-color: #d9d9d9;

$float-left: left;
$float-right: right;
